.about-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
    margin: 40px;
}

.about-rummy-desc{
    text-align: center;
}

.about-grid .about-grid-item {
    padding: 40px 30px;
    text-align: center;
    background: rgba(17, 17, 17, 0.5);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 215, 0, 0.1);
    border-radius: 20px;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    overflow: hidden;
}

.about-grid .about-grid-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(255, 215, 0, 0.1) 0%, transparent 100%);
    opacity: 0;
    transition: opacity 0.4s ease;
}

.about-grid .about-grid-item:hover {
    transform: translateY(-10px);
    border-color: var(--primary-yellow);
    box-shadow: 0 20px 40px rgba(255, 215, 0, 0.1);
}

.about-grid .about-grid-item:hover::before {
    opacity: 1;
}

.about-grid .about-grid-item .about-grid-image-title-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-bottom: 25px;
    
}

.about-grid .about-grid-item .about-grid-image-title-wrap img {
    width: 130px;
    height: 130px;
    object-fit: contain;
    /* background: linear-gradient(135deg, var(--primary-yellow) 0%, var(--secondary-yellow) 100%); */
    /* border-radius: 30px;
    padding: 20px; */
    transition: all 0.4s ease;
    z-index: 1;
}
.about-grid .about-grid-item .about-grid-image-title-wrap::before{
    content: '';
    position: absolute;
    top: -10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background: radial-gradient(circle, rgba(255, 217, 0, 0.561) 10%, transparent 50%);
    z-index: 0;

}


.about-grid .about-grid-item:hover .about-grid-image-title-wrap img {
    transform: scale(1.1) rotate(5deg);
}

.about-grid .about-grid-item .about-grid-image-title-wrap h3 {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    background: linear-gradient(135deg, #ffffff 0%, #cccccc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.about-grid .about-grid-item p {
    font-size: 16px;
    line-height: 1.6;
    color: #d9d9d9;
    margin: 0;
}


@media screen and (max-width: 992px) {
    .about-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}

@media screen and (max-width: 768px) {
    .about-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}

@media screen and (max-width: 576px) {
    .about-grid .about-grid-item {
        padding: 20px;
    }

    .about-grid .about-grid-item .about-grid-image-title-wrap {
        flex-direction: column;
        gap: 15px;
    }

    .about-grid .about-grid-item .about-grid-image-title-wrap h3 {
        padding-left: 0;
        font-size: 18px;
    }
}