.features-text {
    text-align: center;
    max-width: 1140px;
    margin: 0 auto;
    z-index: 1;
    position: relative;
}

.features-title {
    font-size: 48px;
    text-transform: uppercase;
    font-family: 'Lokanova-Std', 'Arial', sans-serif;
    padding: 20px 0;
}

.features-title span {
    animation: colorFade 10s infinite;
    font-size: inherit;
    font-family: 'Lokanova-Std', 'Arial', sans-serif;
    font-weight: 400;
}

.features-title span:first-child {
    animation: colorFadeReverse 10s infinite;
}

.features-title span.no-animation {
    animation: none !important;
    color: inherit;
}

.features-desc {
    font-size: 16px;
    color: #d9d9d9;
    font-weight: 500;
}

@keyframes colorFade {
    0% {
        color: var(--primary-yellow);
    }
    50% {
        color: #ffffff;
    }
    100% {
        color: var(--primary-yellow);
    }
}

@keyframes colorFadeReverse {
    0% {
        color: #ffffff;
    }
    50% {
        color: var(--primary-yellow);
    }
    100% {
        color: #ffffff;
    }
}