.landing-livecasino-section {
    background-image: url(https://beta.mobzway.com/assets/images/livecasino_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 100vh !important;
    margin-top: -135px;
}