.landing-skill-api-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.skill-api-chip-container{
    position: absolute;
    top: 50%;
    left: 60%;
    z-index:2;
    width: 30%;

}
.skill-api-card-container{
    position: absolute;
    top: 30%;
    left: 67%;
    z-index:1;
    width: 25%;
    animation: diceFloat 7s ease-in-out infinite;
}
.skill-api-dice-container{
    position: absolute;
    z-index:3;
    width: 7%;
}
.skill-api-dice1{
    top: 80%;
    left: 80%;
    animation: diceFloat 4s ease-in-out infinite;
}
.skill-api-dice2{
    top: 60%;
    left: 60%;
    animation: diceFloat 6s ease-in-out infinite;
}

@keyframes diceFloat {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

@media screen and (max-width: 768px) {
    .skill-api-chip-container{
        width: 45%;
        left: 20%;
        top: 85%;
    }
    .skill-api-card-container{
        width: 40%;
        top: 75%;
        left: 30%;
    }
    .skill-api-dice-container{
        width: 10%;
    }
    .skill-api-dice1{
        top: 80%;
        left: 80%;
    }
    .skill-api-dice2{
        top: 90%;
        left: 20%;
    }
}