.landing-ludo-api-section {
    position: relative;
    background-image: url(https://www.mobzway.com/assets/images/ludo_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 100vh !important;
    margin-top: -134px;
}

.landing-ludo-api-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    pointer-events: none;
}

.landing-ludo-api-section {
    background-blend-mode: overlay;
}

.ludo-choose-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr) !important;
}

@media screen and (max-width: 768px) {
    .ludo-choose-grid {
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 20px;
    }
}

@media screen and (max-width: 480px) {
    .ludo-choose-grid {
        grid-template-columns: 1fr !important;
    }
}