.landing-callbreak-section {
    background-image: url(https://beta.mobzway.com/assets/images/roulette_banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 100vh !important;
    margin-top: -134px;
}

.break-services-section{
    width: 100%;
    padding: 50px 0;
    background: url('../../../assets/heroBg.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* .engagement-section::before{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../assets/heroBg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;
} */

.break-models-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px 0;
}

.break-model-card {
    background: rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    border-radius: 15px;
    position: relative;
    transition: transform 0.3s ease;
}

.break-model-card:hover {
    border: 1px solid var(--primary-yellow);
    box-shadow: 0 0 10px var(--primary-yellow);
    transform: scale(1.05);

}

.break-model-icon {
    width: 60px;
    height: 60px;
    background: var(--primary-yellow);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.break-model-icon i {
    font-size: 1.5rem;
    color: #000;
}

.break-model-card h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: var(--primary-yellow);
}

.break-model-card p {
    color: #dedede;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .break-models-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .break-services-section {
        margin: 60px auto;
        padding: 0 15px;
    }

    .break-model-card {
        padding: 25px 20px;
    }
}

@media (max-width: 480px) {
    .break-model-icon {
        width: 50px;
        height: 50px;
    }

    .break-model-icon i {
        font-size: 1.2rem;
    }
}

.hire-developers-section {
    width: 100%;
    padding: 50px 0;
    background: url('../../../assets/heroBg.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.hire-description {
    max-width: 1140px;
    margin: 30px auto 0;
    padding: 0 20px;
    text-align: center;
    color: var(--text-color);
    line-height: 1.6;
}

.hire-description p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .hire-description {
        padding: 0 15px;
    }
}

.call-break-faq-accordion-container {
    max-width: 840px;
    margin: 80px auto 0;
    padding: 0 20px;
}