.platform-section{
    width: 100%;
    height: auto;
    margin: 100px 0;
    padding: 0 50px;
}
.platform-section-container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
.platform-section-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 25%;
    text-align: center;
}
.platform-section-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.platform-section-line{
    border-top: 2px solid #ffd90086;
    width: 100%;
}

@media screen and (max-width: 992px) {
    .platform-section-container{
        flex-direction: column;
        gap: 2rem;
    }
    .platform-section-item{
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}
