.landingv2-section{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    /* margin-top: 134px; */
  /* margin-top: 20px; */
    height: 100vh;
    padding: 0 100px;
    gap: 100px;
    position: relative;
}
/* .landingv2-section::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5);

} */
/* .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
} */
.landingv2-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    z-index: 3;
}
.landingv2-text h1{
    font-size: 64px;
    font-family: "Bebas Neue", sans-serif;
    color: var(--secondary-yellow);
    text-transform: uppercase;
    font-weight: 1200;
    margin-top: 45px;
    text-shadow: 
        2px 2px 0 #000,
        4px 4px 0 rgba(0,0,0,0.5);
    position: relative;
}
.landingv2-text p{
    font-size: 1.4rem;
    color: #fff;
    width: 100%;
}
.landingv2-btn{
    background-color: var(--primary-yellow);
    border: none;
    padding: 10px 25px;
    border-radius: 2rem;
    font-size: 20px;    
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    font-weight: 900;
    transition: all 0.3s ease-in-out;
    position: relative;
    box-shadow: 
        2px 2px 0 #000,
        4px 4px 0 rgba(0,0,0,0.5);
}
.landingv2-btn:hover {
    transform: translate(-2px, -2px);
    box-shadow: 
        4px 4px 0 #000,
        6px 6px 0 rgba(0,0,0,0.5);
}
.landingv2-btn:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 2rem;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease;
    left: 0;
    top: 0;
    z-index: 1;
}
.landingv2-btn:hover:before {
    transform: scaleY(1);
}
.landingv2-btn span {
    position: relative;
    z-index: 2;
}
.landingv2Img{
    width: 100%;
}
.landingv2Img img{
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .landingv2-section{
        padding: 0 50px;
    }
}

@media screen and (max-width: 993px) {
    .landingv2-section{
        align-items: center;
        flex-direction: column;
        padding: 0 20px;
        margin-top: 121px;
        gap: 20px;
    }
    .landingv2Img{
        width: 70%;
    }
    .landingv2-text{
        align-items: center;
        text-align: center;
    }
    .landingv2-text p {
        font-size: 18px;
    }
}