.ludo-game {
    width: 100%;
    margin-top: -134px;
}

.ludo-game .carousel-swiper {
    background: url(https://beta.mobzway.com/assets/images/ludo_banner.jpg);
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: -135px auto 0;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}


.regarding-section {
    width: 100%;
    max-width: 1140px;
    padding: 50px 0;
    margin: 0 auto;
    position: relative;
}
.regarding-section p{
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-align: center;
    padding: 20px 0;
}

.modes-section {
    width: 100%;
    max-width: 100%;
    padding: 50px 0;
    margin: 0 auto;
    position: relative;
    background: url('https://i.ibb.co/HRLpG6v/feature-bg-1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.modes-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.modes-grid {
    position: relative;
    z-index: 2;
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 20px 0;
}

.modes-section > *:not(.modes-grid) {
    position: relative;
    z-index: 2;
    max-width: 10 1140px;
    margin: 0 auto;
}

.modes-grid .modes-grid-item {
    padding: 30px;
    text-align: center;
    border: 1px solid #ffffff;
    transition: all 0.3s ease-in-out;
    border-radius: 40px;
    backdrop-filter: blur(10px);
}
.modes-grid .modes-grid-item:hover {
    transform: translateY(-3px);
    background: linear-gradient(0deg, rgba(255, 215, 0, 0.2) 0%, rgba(255, 215, 0, 0) 70%);
    border-color: var(--primary-yellow);
    box-shadow: 0 5px 15px rgba(255, 215, 0, 0.2);
}

.modes-grid .modes-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    gap: 20px;
}

.modes-grid .modes-grid-item img {
    border-radius: 50%;
    padding: 5px;
    margin: 0 auto 25px;
    width: 100px;
    overflow: visible;
    border: 2px solid #514200;
    box-shadow: 0px 0px 10px 1px var(--secondary-yellow);
    background-color: var(--primary-yellow);
}

.modes-grid .modes-grid-item h3 {
    font-size: 22px;
    text-transform: uppercase;
    padding-left: 10px;
}

.modes-grid .modes-grid-item p {
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: 500;
}


.solutions-ludo-section{
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 50px 0;
}

.solutions-ludo-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://i.ibb.co/HRLpG6v/feature-bg-1.png');
    opacity: 0.3;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scaleX(-1);
    
}
.solutions-ludo-section .solutions-ludo-bottom{
    display: flex;
    gap: 100px;
    max-width: 1140px;
    padding: 30px 0;
    margin: 0 auto;
    width: 100%;
}
/* .solutions-ludo-section .solutions-ludo-bottom .solutions-img img{
    max-width: 400px;
} */
.solutions-img-1 {
    position: relative;
    width: 100%;
    max-width: 450px;
    height: inherit;
    display: block;
}


@keyframes pieceFloat1 {
    0%, 100% { transform: translateY(0) rotate(-8deg); }
    50% { transform: translateY(-15px) rotate(-12deg); }
}

@keyframes pieceFloat2 {
    0%, 100% { transform: translateY(-5px) rotate(-4deg); }
    50% { transform: translateY(-20px) rotate(-8deg); }
}

@keyframes pieceFloat3 {
    0%, 100% { transform: translateY(-8px) rotate(0deg); }
    50% { transform: translateY(-18px) rotate(0deg); }
}

@keyframes pieceFloat4 {
    0%, 100% { transform: translateY(-5px) rotate(4deg); }
    50% { transform: translateY(-20px) rotate(8deg); }
}
@keyframes diceFloat {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

.sol-ludo-board-container {
    position: absolute;
    width: 90%;
    height: auto;
    z-index: 1;
    bottom: 10%;
    left: 5%;
}

.sol-ludo-pieces-container {
    position: absolute;
    width: 20%;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 4;
}

.sol-ludo-piece1 {
    top: 30%;
    left: 20%;
    animation: pieceFloat1 4s ease-in-out infinite;
}

.sol-ludo-piece2 {
    top: 50%;
    left: 45%;
    animation: pieceFloat2 4.5s ease-in-out infinite;
}

.sol-ludo-piece3 {
    top: 20%;
    left: 45%;
    animation: pieceFloat3 4.2s ease-in-out infinite;
}

.sol-ludo-piece4 {
    top: 30%;
    left: 65%;
    animation: pieceFloat4 5s ease-in-out infinite;
}

.sol-ludo-dice-container {
    position: absolute;
    width: 20%;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 5;
}

@keyframes diceRotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.sol-ludo-dice1 {
    top:10%;
    left: 20%;
    animation: diceFloat 3s linear infinite;
}

.sol-ludo-dice2 {
    top: 55%;
    left: 65%;
    animation: diceFloat 5s linear infinite reverse;
}
.solutions-img-1 {
    position: relative;
    width: 100%;
    max-width: 450px;
    height: inherit;
    display: block;
    margin: 0 auto;
}


@media screen and (max-width: 993px) {
    .solutions-ludo-section .solutions-ludo-bottom {
        flex-direction: column;
        gap: 50px;
        padding: 20px;
    }

    .solutions-img-1 {
        max-width: 100%;
        padding: 0 20px;
    }


    .sol-ludo-dice-container {
        width: 20%;
    }


    .sol-ludo-piece1 {
        top: 15%;
        left: 25%;
    }

    .sol-ludo-piece2 {
        top: 40%;
        left: 50%;
    }

    .sol-ludo-piece3 {
        top: 10%;
        left: 45%;
    }

    .sol-ludo-piece4 {
        top: 25%;
        left: 70%;
    }

    .sol-ludo-dice1 {
        top: 5%;
        left: 5%;
    }

    .sol-ludo-dice2 {
        top: 45%;
        left: 75%;
    }
}


@media screen and (max-width: 480px) {
    .solutions-img-1 {
        padding: 0 10px;
    }

    .sol-ludo-pieces-container {
        width: 30%;
    }

    .sol-ludo-dice-container {
        width: 25%;
    }

    .sol-ludo-piece1 {
        top: 8%;
        left: 2%;
    }

    .sol-ludo-piece2 {
        top: 35%;
        left: 0%;
    }

    .sol-ludo-piece3 {
        top: 8%;
        left: 40%;
    }

    .sol-ludo-piece4 {
        top: 3%;
        left: 20%;
    }

    .sol-ludo-dice1 {
        top: 12%;
        left: 60%;
    }

    .sol-ludo-dice2 {
        top: 40%;
        left: 55%;
    }
}
.image-stack {
    width: 100%;
    height: auto;
    object-fit: contain;
}
.solutions-ludo-section .solutions-ludo-bottom .solutions-desc-container{
    
    padding: 0 20px;
}
.solutions-ludo-section .solutions-ludo-bottom .solutions-desc-container .solutions-desc{
    text-align: justify;
    position: relative;
}
.solutions-ludo-section .solutions-ludo-bottom .solutions-desc-container .solutions-desc .solutions-ludo-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.solutions-ludo-section .solutions-ludo-bottom .solutions-desc-container .solutions-desc .solutions-ludo-grid .solutions-ludo-grid-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 20px;
}
.solutions-ludo-section .solutions-ludo-bottom .solutions-desc-container .solutions-desc .solutions-ludo-grid .solutions-ludo-grid-item img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    transition: transform 0.3s ease-in-out;
}
.solutions-ludo-section .solutions-ludo-bottom .solutions-desc-container .solutions-desc .solutions-ludo-grid .solutions-ludo-grid-item:hover img{
    transform: scale(1.1);
}
.solutions-banner-line{
    border-top: 2px solid #ffd90086;
    width: 100%;
}
.solutions-ludo-section .solutions-ludo-p{
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.features-section {
    width: 100%;
    max-width: 100%;
    padding: 50px 0;
    margin: 0 auto;
    position: relative;
    background: url('https://i.ibb.co/HRLpG6v/feature-bg-1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.features-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.features-grid {
    position: relative;
    z-index: 2;
    max-width: 1140px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(4, 1fr); */
    gap: 30px;
    padding: 20px 0;
}

.features-section > *:not(.features-grid) {
    position: relative;
    z-index: 2;
    max-width: 1140px;
    margin: 0 auto;
}

.features-grid .features-grid-item {
    padding: 30px;
    text-align: center;
    border: 1px solid #ffffff;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}
.features-grid .features-grid-item:hover {
    transform: translateY(-3px);
    background: linear-gradient(0deg, rgba(255, 215, 0, 0.2) 0%, rgba(255, 215, 0, 0) 70%);
    border-color: var(--primary-yellow);
    box-shadow: 0 5px 15px rgba(255, 215, 0, 0.2);
}

.features-grid .features-grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    gap: 20px;
}

.features-grid .features-grid-item img {
    border-radius: 50%;
    padding: 5px;
    width: 100px;
    overflow: visible;
    border: 2px solid #514200;
    box-shadow: 0px 0px 10px 1px var(--secondary-yellow);
}

.features-grid .features-grid-item h3 {
    font-size: 22px;
    text-transform: uppercase;
    padding-left: 10px;
}

.features-grid .features-grid-item p {
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.admin-features-section {
    width: 100%;
    max-width: 100%;
    padding: 50px 0;
    margin: 0 auto;
    position: relative;
    background: url('https://i.ibb.co/HRLpG6v/feature-bg-1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.admin-features-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.admin-features-grid {
    position: relative;
    z-index: 2;
    max-width: 1140px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(4, 1fr); */
    gap: 30px;
    padding: 20px 0;
}

.admin-features-section > *:not(.admin-features-grid) {
    position: relative;
    z-index: 2;
    max-width: 1140px;
    margin: 0 auto;
}

.admin-features-grid .admin-features-grid-item {
    padding: 30px;
    text-align: center;
    border: 1px solid #ffffff;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}
.admin-features-grid .admin-features-grid-item:hover {
    transform: translateY(-3px);
    background: linear-gradient(0deg, rgba(255, 215, 0, 0.2) 0%, rgba(255, 215, 0, 0) 70%);
    border-color: var(--primary-yellow);
    box-shadow: 0 5px 15px rgba(255, 215, 0, 0.2);
}

.admin-features-grid .admin-features-grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    gap: 10px;
}

.admin-features-grid .admin-features-grid-item img {
    border-radius: 50%;
    padding: 5px;
    width: 70px;
    overflow: visible;
    /* border: 2px solid #514200; */
    /* box-shadow: 0px 0px 10px 1px var(--secondary-yellow); */
}

.admin-features-grid .admin-features-grid-item h3 {
    font-size: 22px;
    text-transform: uppercase;
    padding-left: 10px;
}

.admin-features-grid .admin-features-grid-item p {
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.solutions-ludo2-section{
    width: 100%;
    max-width: 1140px;
    padding: 50px 0;
    margin: 0 auto;
}
.solutions-ludo2-section .solutions-ludo2-bottom{
    display: flex;
    gap: 100px;
}
.solutions-ludo2-section .solutions-ludo2-bottom .solutions-img img{
    max-width: 400px;
}
.solutions-ludo2-section .solutions-ludo2-bottom .solutions-desc-container{
    
    padding: 0 20px;
}
.solutions-ludo2-section .solutions-ludo2-bottom .solutions-desc-container .solutions-desc{
    text-align: justify;
    position: relative;
}

.solutions-ludo2-section .solutions-ludo2-bottom .solutions-desc-container button {
    background-color: var(--primary-yellow);
    border: none;
    padding: 10px 20px;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 18px !important;
    font-weight: 600;
    margin-top: 40px;
    transition: all 0.3s ease-in-out;
    transform: translateY(0);
    display: block;
    position: relative;
}

.solutions-ludo2-section .solutions-ludo2-bottom .solutions-desc-container button:hover {
    background-color: #FFC700;
}

.ludo-faq-section{
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ludo-faq-section .ludo-faq-container{
    max-width: 840px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 0 auto;
}
.ludo-faq-left,
 .ludo-faq-right {
    flex: 1;
 }


.path-section{
    padding: 80px;
}

@media screen and (max-width: 1200px) {
    .modes-section,
    .solutions-ludo-section,
    .solutions-ludo2-section {
        padding: 50px 20px;
    }

    .features-section,
    .admin-features-section {
        padding: 50px 20px;
    }

    .ludo-faq-section .ludo-faq-container {
        padding: 0 20px;
    }
}

@media screen and (max-width: 992px) {
    .modes-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .solutions-ludo-section .solutions-ludo-bottom,
    .solutions-ludo2-section .solutions-ludo2-bottom {
        gap: 10px;
        flex-direction: column;
        align-items: center;
    }
    .solutions-ludo-section .solutions-ludo-bottom .solutions-desc-container .solutions-desc .solutions-ludo-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    .solutions-img-1{
        height: 300px;
        max-width: 400px;
        display: block;
    }

    .features-grid,
    .admin-features-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .ludo-faq-section .ludo-faq-container {
        flex-direction: column;
        gap: 30px;
    }
}

@media screen and (max-width: 768px) {
    .modes-grid {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .solutions-ludo-section .solutions-ludo-bottom,
    .solutions-ludo2-section .solutions-ludo2-bottom {
        flex-direction: column;
        gap: 30px;
    }

    .solutions-ludo-section .solutions-ludo-bottom .solutions-img,
    .solutions-ludo2-section .solutions-ludo2-bottom .solutions-img {
        text-align: center;
    }

    .solutions-ludo-section .solutions-ludo-bottom .solutions-img img,
    .solutions-ludo2-section .solutions-ludo2-bottom .solutions-img img {
        max-width: 100%;
        height: auto;
    }

    .solutions-ludo-section .solutions-ludo-bottom .solutions-desc-container,
    .solutions-ludo2-section .solutions-ludo2-bottom .solutions-desc-container {
        padding: 0;
    }

    .features-grid,
    .admin-features-grid {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}

@media screen and (max-width: 576px) {
    .modes-grid .modes-grid-item {
        padding: 20px;
    }

    .modes-grid .modes-grid-item img {
        width: 80px;
    }

    .modes-grid .modes-grid-item h3 {
        font-size: 18px;
        padding-left: 0;
    }

    .features-grid .features-grid-item,
    .admin-features-grid .admin-features-grid-item {
        padding: 20px;
    }

    .features-grid .features-grid-item img,
    .admin-features-grid .admin-features-grid-item img {
        width: 80px;
    }

    .features-grid .features-grid-item h3,
    .admin-features-grid .admin-features-grid-item h3 {
        font-size: 18px;
        padding-left: 0;
    }

    .solutions-ludo-section .solutions-ludo-bottom .solutions-desc-container button,
    .solutions-ludo2-section .solutions-ludo2-bottom .solutions-desc-container button {
        font-size: 16px !important;
        padding: 8px 16px;
    }
}

.ludo-devices-img{
    width: 100%;
    max-width: 100%;
    height: auto;
}