.landing-snakeladder-section {
    background-image: url(https://beta.mobzway.com/assets/images/snakeladdergamedevelopment.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 100vh !important;
    margin-top: -134px;
}