.header-div {
    width: 100%;
    color: white;
    padding: 40px 0;
    transition: all 0.25s ease-in-out;
    z-index: 1000;
}

.header-div.sticky {
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    padding: 24px 0;
}

.header-container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container img {
    height: 50px;
    width: auto;
}

@media (max-width: 768px) {
    .header-container img {
        height: 32px;
    }
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 6rem;
}

.nav-menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1.5rem;
}

.nav-menu li {
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    line-height: 19px;
}

.nav-menu li:hover{
    color: #FFD700;
    transition: all 0.25s ease-in-out;
}

.nav-menu a {
    text-decoration: none;
    padding: 11px 20px;
    background: rgba(255, 255, 255, .1);
    color: white;
    border-radius: 0.8rem;
    transition: all 0.3s ease;
    white-space: nowrap;
    font-weight: 500;
}

.nav-menu a:hover {
    background: rgba(255, 255, 255, .3);
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 2px;
    background: #ffffff;
    transition: all 0.3s ease;
}

@media (max-width: 991px) {
    .hamburger {
        display: flex;
    }

    .nav-menu {
        position: fixed;
        top: 0;
        right: -100%;
        background: #2e2e2e;
        flex-direction: column;
        padding: 80px 0 0 0;
        transition: right 0.3s ease;
        color: white;
        width: 280px;
        box-sizing: border-box;
    }

    .nav-menu.active {
        right: 0;
    }

    .nav-menu ul {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        box-sizing: border-box;
        padding: 0 40px;
        margin-bottom: 20px;
    }

    .nav-menu ul li {
        width: 100%;
        text-align: center;
    }

    .nav-menu ul li:last-child {
        border-bottom: none;
    }

    .nav-menu a {
        display: block;
        width: 100%;
        background-color: #FFD700;
        color: #000000;
        text-align: center;
        border-radius: 0;
        padding: 15px 0;
        box-sizing: border-box;
    }
}