#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background-black);
    /* background: url('/gradient-bg.svg');
    background-size: cover;
    background-repeat: no-repeat; */
}

.App {
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    color: white;
}


