@font-face {
    font-family: 'PT Root UI';
    src: url('/fonts/pt-root-ui_vf.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lokanova-Std';
    src: url('/fonts/Lokanova-Std.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
::selection {
background: #ffcc00; /* Your custom color */
color: #000000;
}

:root {
    /* --primary-yellow: #FFD700; */
    --primary-yellow: #F3BF44;
    /* --secondary-yellow: #fcd10a; */
    --secondary-yellow: #F3BF44;
    --text-color: #FFFFFF;
    --background-black: #111111;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Root UI', sans-serif;
    /* overflow-x: hidden; */
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}