@font-face {
    font-family: 'PT Root UI';
    src: url('/fonts/pt-root-ui_vf.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Root UI', sans-serif;
    overflow-x: hidden;
    
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}