.solutions-api-section{
    background: url(/topography.svg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}


.api-benefit-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 20px;
}
.api-benefit-item{
    background-color: #0000008c;
    backdrop-filter: blur(5px);
    border: 1px solid #51515131;
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.api-benefit-item:hover{
    box-shadow: 0 0 9px 1px #ffd700;
    scale: 1.03;
    border: 1px solid var(--primary-yellow);
}
.api-benefit-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.api-benefit-icon img{
    height: 80px;
    width: 80px;
    background-color: #000;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid var(--primary-yellow);
}
.api-benefit-icon h3{
    color: var(--primary-yellow);
    text-align: center;
    text-transform: uppercase;
    padding: 0 10px;
}
@media screen and (max-width: 1200px) {
    .api-benefit-container{
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}
@media screen and (max-width: 992px) {
    .api-benefit-container{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
@media screen and (max-width: 768px) {
    .api-benefit-container{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media screen and (max-width: 480px) {
    .api-benefit-container{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}


.timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 2px;
    height:65%;
    background: var(--primary-yellow);
    transform: translate(-50%, -50%);
}

.timeline-item {
    position: relative;
    /* margin-bottom: 20px; */
    width: 100%;
}

.timeline-item:nth-child(odd) {
    padding-right: 50%;
    text-align: right;
}

.timeline-item:nth-child(even) {
    padding-left: 50%;
    text-align: left;
}

.timeline-dot {
    position: absolute;
    width: 16px;
    height: 16px;
    background: var(--primary-yellow);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .timeline-item:nth-child(odd) .timeline-dot {
    left: 50%;
}

.timeline-item:nth-child(even) .timeline-dot {
    left: -8px;
} */

.timeline-content {
    padding: 20px;
    /* background: #64646408; */
    backdrop-filter: blur(5px);
    border: 1px solid #ffffff18;
    border-radius: 8px;
    /* box-shadow: 0 0 5px 1px #ffd70099; */
    transition: all 0.3s ease-in-out;
    cursor:pointer;
}
.timeline-content:hover{
    box-shadow: 0 0 5px 1px #ffd700;
    scale: 1.03;
    border: 1px solid var(--primary-yellow);
}

.timeline-item:nth-child(odd) .timeline-content {
    margin-right: 20px;
}

.timeline-item:nth-child(even) .timeline-content {
    margin-left: 20px;
}

.timeline-content h3 {
    margin-top: 0;
    color: var(--primary-yellow);
}

.timeline-content p {
    color: #fff;
}

@media (max-width: 768px) {
    
    .timeline::before {
        left: 50%;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even) {
        padding: 0;
        text-align: left;
    }
    .timeline-dot {
        left: 0;
        display: none;
    }

    .timeline-item:nth-child(odd) .timeline-content,
    .timeline-item:nth-child(even) .timeline-content {
        margin: 0 0 20px 0;
    }
}

.api-custom{
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
}
.api-custom-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.api-custom-item{
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.api-custom-item h3{
    color: #000;
    background-color: #ffd700;
    width: 150px;
    height: 150px;
    padding: 20px 40px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.api-custom-item p{
    color: rgb(255, 255, 255);
    width: 300px;
    text-align: center;
    background-color: #00000000;
    backdrop-filter: blur(5px);
    border: 1px solid var(--primary-yellow);
    border-radius: 20px;
    padding: 20px;
}
.api-custom-line{
    height: 2px;
    width: 100%;
    background: var(--primary-yellow);
}


.api-scale-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.api-scale-item{
    /* background: rgba(255, 217, 0, 0.01); */
    background-color: #00000081;
    backdrop-filter: blur(5px);
    border: 1px solid #ffffff18;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    min-height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px 20px;
    text-align: center;
}
.api-scale-item:hover{
    box-shadow: 0 0 9px 1px #ffd700;
    scale: 1.03;
    border: 1px solid var(--primary-yellow);
}
.api-scale-item img{
    height: 100px;
}

@media screen and (max-width:480px){
    .api-scale-container{
        grid-template-columns: repeat(1, 1fr);
    }
}


.api-solve-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.api-solve-item{
    width: 22%;
    height: 240px;
    background-color: #0000002a;
    backdrop-filter: blur(5px);
    border-right: 2px solid rgba(255, 215, 0, 0.5);
    border-bottom: 2px solid rgba(255, 215, 0, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    position: relative;
}

.api-solve-item h1{
    position: absolute;
    top: -30%;
    left: 0%;
    transform: translateX(-50%);
    font-size: 128px;
    color: var(--primary-yellow);
}

.api-solve-item h2{
    position: absolute;
    top: -30%;
    left: 100%;
    transform: translateX(-50%);
    font-size: 128px;
    color: var(--primary-yellow);
}


.api-solve-item h3{
    color: var(--primary-yellow);
    text-transform: uppercase;
    padding: 0 10px;
}

@media screen and (max-width:993px){
    .api-solve-container{
        flex-direction: column;
        gap: 100px;
    }
    .api-solve-item{
        width: 80%;
        padding: 40px 20px;
    }
    .api-solve-item h1{
        position: absolute;
        top: -30%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 128px;
        color: var(--primary-yellow);
    }
}


.challenges-solutions-container {
    font-family: Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.challenges-solutions-container .challenges-solutions {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    gap: 20px;
    margin-top: 20px;
}

.challenges-solutions-container .challenges-list {
    flex: 1;
    border-right: 1px solid #ffffff18;
    padding-right: 20px;
}

.challenges-solutions-container .challenge-item {
    padding: 12px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    border: 1px solid #ffffff18;
    backdrop-filter: blur(5px);
}

.challenges-solutions-container .challenge-item:hover {
    backdrop-filter: blur(5px);
    background-color: #00000054;
}

.challenges-solutions-container .challenge-item.active {
    background-color: #000000a8;
    backdrop-filter: blur(5px);
    border-left: 4px solid var(--primary-yellow);
    font-weight: bold;
}
.challenges-solutions-container .solution-detail {
    flex: 2;
    margin: auto 0;
}
.challenges-solutions-container .solution-content {
    background-color: #000000a8;
    backdrop-filter: blur(5px);
    padding: 15px;
    border-radius: 4px;
    margin-top: 10px;
    border-left: 4px solid var(--primary-yellow);
}

.challenges-solutions-container .closing-note {
    margin-top: 20px;
    font-style: italic;
    color: rgba(255, 255, 255, 0.664);
}
@media screen and (max-width: 768px) {
    .challenges-solutions {
        flex-direction: column;
    }
    .challenges-list {
        border-right: none;
        padding-bottom: 25px;
        border-bottom: 1px solid #ffffff18;
        padding-right: 0;
    }
}


.api-support-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.api-support-item{
    width: 45%;
    border: 1px solid #ffffff18;
    background-color: #0000002a;
    backdrop-filter: blur(5px);
    padding: 40px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    position: relative;
    transition: 0.3s ease-in-out;
}
.api-support-item:hover{
    scale: 1.03;
    border: 1px solid var(--primary-yellow);
}
.api-support-icon img{
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
}
.api-support-icon h3{
    color: var(--primary-yellow);
    text-transform: uppercase;
    padding: 0 10px;
}
@media screen and (max-width: 993px){
    .api-support-container{
        flex-direction: column;
        gap: 50px;
    }
    .api-support-item{
        width: 80%;
        padding: 40px 20px;
    }
}
