.provider-section{
    width: 100%;
    background-color: #fff;
    /* background: linear-gradient(45deg, #7b7b7b, #d6d6d6); */
}
.provider-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0 50px;
}

/* .provider-title{
    font-family: 'Lokanova-Std', 'Arial', sans-serif;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 50px;
    color: #ffffff;
    text-transform: uppercase;
} */
.provider-title {
    text-align: center;
    font-size: 48px;
    text-transform: uppercase;
    font-family: 'Lokanova-Std', 'Arial', sans-serif;
    padding: 20px 0;
}


.provider-title span {
    animation: colorFade2 10s infinite;
    font-size: inherit;
    font-family: 'Lokanova-Std', 'Arial', sans-serif;
    font-weight: 400;
}

.provider-title span:first-child {
    animation: colorFadeReverse2 10s infinite;
}

.provider-title span.no-animation {
    animation: none !important;
    color: inherit;
}

.provider-desc {
    font-size: 16px;
    color: #d9d9d9;
    font-weight: 500;
}

@keyframes colorFade2 {
    0% {
        color: var(--primary-yellow);
    }
    50% {
        color: #000000;
    }
    100% {
        color: var(--primary-yellow);
    }
}

@keyframes colorFadeReverse2 {
    0% {
        color: #000000;
    }
    50% {
        color: var(--primary-yellow);
    }
    100% {
        color: #000000;
    }
}

.providers-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: 20px 0;
    
}
.providers-item{
    height: 100px;
    width: 100%;
    /* background-color: rgb(118, 118, 118); */
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}
.providers-item img{
    height: 80px;
    width: 100%;
    padding: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    backdrop-filter: blur(10px);
}
.providers-item img:hover{
    transform: scale(1.1);
    background-color: #ffd900;
    border: 1px solid #000;
}
/* .providers-slider .swiper-slide{
    padding: 20px 10px;
    background-color: #ffffff92;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.providers-slider{
    width: 100%;
    max-width: 1140px;
}

.providers-slider .swiper-wrapper{
    align-items: center;
    transition-timing-function : linear;
}
