.payments-section{
    width: 100%;
    background: #fff;
}
.payments-container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px 0;
}

.payments-icons-1,
.payments-icons-2 {
    display: grid;
    gap: 30px;
    margin: 40px auto;
    justify-content: center;
    align-items: center;
}

.payments-icons-1 {
    grid-template-columns: repeat(6, 1fr);
}

.payments-icons-2 {
    grid-template-columns: repeat(3, 1fr);
    max-width: 600px;
}

.payments-icons-1 img,
.payments-icons-2 img {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin: 0 auto;
    transition: transform 0.5s ease;
    filter: grayscale(100%);
}

.payments-icons-1 img:hover,
.payments-icons-2 img:hover {
    transform: translateY(-5px);
    filter: grayscale(0%);
}

@media screen and (max-width: 1200px) {
    .payments-section {
        padding: 50px 20px;
    }
}

@media screen and (max-width: 992px) {
    .payments-icons-1 {
        grid-template-columns: repeat(4, 1fr);
    }

    .payments-icons-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .payments-icons-1 img,
    .payments-icons-2 img {
        max-width: 120px;
    }
}

@media screen and (max-width: 576px) {
    .payments-icons-1 {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .payments-icons-2 {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .payments-icons-1 img,
    .payments-icons-2 img {
        max-width: 100px;
    }
}